/*===================== GERAL ====================*/

:root{
    font-size: 62.5%; /*1rem = 10px*/
    /*font size do root agora vale 10px*/
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    
}

.hotel-name a{
    font-family: 'Macondo', cursive;
    font-style: italic;
}

#body{ /*id por causa do boostrap*/
    font-size: 1.6rem;
    background-color: #FFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

main{
    height: 100%;
    position:relative
}



/*=============== HEADER =======================*/

#initial-header{
    background-color: #FFE100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 10%;
    padding-block: .5rem;
}

#initial-header-navigation ul{
    padding: 0;
    margin: 0;

    display: flex;
    gap:  2rem;
}

#initial-header-navigation a{
    font-size: 2rem;
    font-weight: 500;
}

#initial-header img{
    height: 8rem;
    width: auto;
}

#initial-header .hotel-name a {
    font-size: 4rem;
    font-weight: 700;
}



/*======================= SECTION HOME =========================*/

#section-home{
    background-color: antiquewhite;
    padding-block: 8rem;
}

#section-home video{
    width: 95%;
    display: block;
    margin-inline: auto;
    border-radius: 1rem;
}

.absolute-form-box{
    position: absolute;
    
    padding-top: 73rem;
    width: 100%;
    height: 100%;
}

#nav-form{
    background-color: #DB302A;
    border-radius: .5rem;

    margin: 0 auto;
    width: 50%;
    padding-block: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: sticky;
    top: 2rem;
    z-index: 3;
}

#nav-form form{
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

#nav-form input{
    padding-inline: .7rem;
    padding-block: .2rem;
    font-size: 1.8rem;
}

#nav-form label{
    color: #D8F3FE;
}

#nav-form a:first-child{
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-align: center;
    color: #D8F3FE;
}

#nav-form a:last-child{
    font-size: 2rem;
    font-weight: 700;

    background-color: #D8F3FE;
    border-radius: .5rem;

    
    margin-left: 1.5rem;
    padding-inline: .7rem;
    padding-block: .2rem;
}



/*==================== SECTION QUARTOS=======================*/


#section-quartos{
    background-color: rgb(95, 179, 106);

    padding-block: 8rem;
    padding-inline: 2.5%;
    width: 100%;
    height: fit-content;

    display: flex;
}

#section-quartos .div-text{ 
    width: 35%;
}

#section-quartos .section-content{
    width: 65%;
}

#carouselExampleDark{
    width: 100%;
}

#carouselExampleDark img{
    height: 65rem;
    object-fit: cover;
    border-radius: .5rem;
}

#section-quartos .div-text{
    padding-left: 4rem;
    padding-top: 3rem;
}

#section-quartos .div-text h4{
    font-size: 6rem;
    color: #FFF;
    text-align: start;
    margin-bottom: 3rem;
}

#section-quartos .div-text p{
    font-size: 3rem;
    color: #FFF;
    text-align: start;
}



/*==================== SECTION SERVICOS=======================*/

#section-servicos{
    background-color: rgb(95, 131, 179);

    padding-block: 8rem;
    padding-inline: 2.5%;
    width: 100%;
    height: fit-content;

    display: flex;
}

#section-servicos .div-text{ 
    width: 35%;
}

#section-servicos .div-text{
    padding-right: 4rem;
    padding-top: 3rem;
}

#section-servicos .div-text h4{
    font-size: 6rem;
    color: #FFF;
    text-align: start;
    margin-bottom: 3rem;
}

#section-servicos .div-text p{
    font-size: 3rem;
    color: #FFF;
    text-align: start;
}

#section-servicos .section-content{
    width: 65%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

#section-servicos .card{
    width: 32rem;
    height: 30rem;
    text-align: center;
}

#section-servicos .card img{
    object-fit: cover;
    height: 70%;
}

