<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/frontQuartos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Faça sua reserva aqui</h1>
    <main>
        <section id="section1">
            <ul id="lista-quartos">
                <li class="bloco-quarto">
                    <img src="https://images.prismic.io/guararapes/94655905-8d93-4b1a-92d0-2b68cdebfa8b_quarto+de+casal+azul.png?auto=compress%2Cformat&fit=max&q=50">
                    <div>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                    </div>
                    <span class="valor-quarto">Valor:</span>
                </li>
                <li class="bloco-quarto">
                    <img src="https://images.prismic.io/guararapes/94655905-8d93-4b1a-92d0-2b68cdebfa8b_quarto+de+casal+azul.png?auto=compress%2Cformat&fit=max&q=50">
                    <div>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                    </div>
                </li>
                <li class="bloco-quarto">
                    <img src="https://images.prismic.io/guararapes/94655905-8d93-4b1a-92d0-2b68cdebfa8b_quarto+de+casal+azul.png?auto=compress%2Cformat&fit=max&q=50">
                    <div>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                        <p>texto sobre o quarto</p>
                    </div>
                </li>
            </ul>
        </section>
        <section id="section2">
            <a href="" id="btReservar">Reservar</a>
        </section>
    </main>
</body>
</html>