<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Styles/funcionarios.css">
    <title>Funcionários</title>
    <link rel="stylesheet" th:href="@{/Styles/funcionarios.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
</style>
</head>
<body>
    <aside class="menu comprimido">
        <nav>
            <ul>
                <li><a href="" id="hospedes"><img th:src="@{/assets/icon-hospedes.png}" title="Hóspedes"></a></li>
                <li><a href="" id="quartos"><img th:src="@{/assets/icon-quartos.png}" title="Quartos"></a></li>
                <li><a href="" id="reservas"><img th:src="@{/assets/icon-reservas.png}" title="Reservas"></a></li>
                <li><a href="" id="voltar"><img  th:src="@{/assets/icon-voltar.png}" title="Voltar"></a></li>
            </ul>
        </nav>
        <div id="caixa-botao">
            <button onclick="openOrCloseMenu()"><img  th:src="@{/assets/icon-open-menu.png}"></button>
        </div>
    </aside>

    <main>
        <!-- <ul id="lista-funcionarios">
            <li class="objetos">
                <span id="span-id">001</span>
                <span id="span-nome">Igor Fernandes</span>
                <span id="span-cargo">Desenvolvedor Front-End</span>
                <span id="span-email">igorfernamdez@gmail.com</span>
                <span id="span-senha">camysama</span>
            </li>
        </ul> -->
        
        <div id="div-formularios">
            <form action="" id="form-pesquisa-funcionario" method="get">
                <input type="text" placeholder="nome do funcionario">
                <button type="submit"><img th:src="@{/assets/icon-search.png}" title="Pesquisar"></button>
            </form>

            <form action="/funcionario" id="form-funcionario-selecionado" method="post">
                
                <fieldset id="fs-dados-gerais">
                    <legend>Dados Gerais</legend>
                    <input type="text" placeholder="Nome" name="nome">
                    <input type="text" placeholder="CPF" name="cpf">
                    <input type="text" placeholder="Senha" name="senha">
                </fieldset>

                <fieldset id="fs-endereco">
                    <legend>Endereço</legend>
                    <input type="text" placeholder="CEP" name="cep">
                    <input type="text" placeholder="Cidade" name="cidade">
                    <input type="text" placeholder="Bairro" name="bairro">
                    <input type="text" placeholder="Rua" name="rua">
                    <input type="text" placeholder="Número" name="numero">
                </fieldset>

                <fieldset id="fs-contato">
                    <legend>Contato</legend>
                    <input type="email" placeholder="Email" name="email">
                    <input type="text" placeholder="Telefone" name="telefone">
                </fieldset>

                <fieldset id="fs-admin">
                    <legend>Usuário administrador?</legend>
                    <label for="true"> Sim
                        <input type="radio" name="admin" value="true" id="true">
                    </label>
                    <label for="false"> Não
                        <input type="radio" name="admin" value="false" id="false">
                    </label>
                </fieldset>

                <div id="form-buttons">
                    <button type="submit" id="btCreate">Cadastrar</button>
                </div>
            </form>
            
        </div>
    </main> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/Scripts/funcionarios.js"></script>
</body>
</html>