<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="hospede.css">
        <link rel="stylesheet" th:href="@{/Styles/hospede.css}">
        <title>Hóspede</title>
    </head>
    <body>
        <div id="tudo">
            <div id="cabecalhoHospede">

            </div>
            <main id="form-hospede">
                <div>
                    <form action="/hospede" method="POST">
            
                        <input type="text" placeholder="nome" name="nome">
                        <input type="text" placeholder="cpf" name="cpf">
                        <input type="text" placeholder="telefone" name="telefone">
                        <input type="text" placeholder="email" name="email">
                        <input type="text" placeholder="senha" name="senha"> 
                        <input type="submit">
            
                    </form>
                </div>
            </main>
        </div>
    </body>
</html>