<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Styles/loginHospede.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
    <title>Login - Hospede</title>
</head>
<body>
    <div id="bg-image"></div>
    <form action="" method="post">
        <h4>Já possui uma conta?</h4>
        <label for="inputUsuario">Usuário: <br>
            <input type="text" name="inputUsuario" id="inputUsuario">
        </label>

        <label for="inputSenha">Senha: <br>
            <input type="password" name="inputSenha" id="inputSenha">
        </label>
        
        <a href="frontQuartos.html">Entrar</a> ou 
        <a href="frontCadastro.html">Criar Conta</a>
    </form>
</body>
</html>