<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Styles/quartos.css}">
    <title>Quartos</title>
    <script src="../static/Scripts/quartos.js"></script>
    <!-- COMO OS LINKS DEVEM SER USADOS CASO VÁ RODAR O PROJETO COM SPRING: -->
    <!--<link rel="stylesheet" th:href="@{/Styles/funcionarios.css}">-->
    
    <!-- src="../assets/icon-quartos.png LINK PRO ATRIBUTO SRC TEM ESSAS 2 MANEIRAS"
    th:src="@{/assets/icon-reservas.png}" -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Macondo&display=swap" rel="stylesheet">
</head>
<body>      
    <aside class="menu comprimido">
        <header>
            <h3></h3>
            <h4 id="nome-quarto"></h4>
            <h5 id="momento-login"></h5>
        </header>
        <nav>
            <ul>
                <li><a href="/back/hospedes" id="hospedes"><img th:src="@{/assets/icon-hospedes.png}" title="Hóspedes"></a></li>
                <li><a href="/back/funcionarios" id="funcionarios"><img th:src="@{/assets/icon-funcionarios.png}" title="Funcionários"></a></li>
                <li><a href="/back/reservas" id="reservas"><img th:src="@{/assets/icon-reservas.png}" title="Reservas"></a></li>
                <li><a href="/back" id="voltar"><img  th:src="@{/assets/icon-voltar.png}" title="Voltar"></a></li>
            </ul>
        </nav>
        <div id="caixa-botao">
            <button onclick="openOrCloseMenu()"><img  th:src="@{/assets/icon-open-menu.png}"></button>
        </div>
    </aside>

    <main>
        <ul id="lista-quartos">
        </ul>

        
        <div id="div-formularios">
            <form id="form-pesquisa-quarto">
                <input type="text" placeholder="nome do quarto">
                <button onclick="listar()" type="submit"><img th:src="@{/assets/icon-search.png}" title="Pesquisar"></button>
            </form>

            <form action="/back/quartos/salvar" id="form-quarto-selecionado" method="POST">
                <span id="id-quarto-selecionado">000</span>

                <fieldset id="fs-dados-gerais">
                    <legend>Dados Gerais</legend>
                    <input type="text" placeholder="Categoria" name="categoria">
                    <input type="text" placeholder="Capacidade adultos" name="capacidadeAdultos">
                    <input type="text" placeholder="Capacidade crianças" name="capacidadeCriancas">
                    <input type="text" placeholder="Diária (R$)" name="diaria">
                </fieldset>

                <div id="form-buttons">
                    <button type="submit" id="btCreate">Cadastrar</button>
                    <button type="submit" id="btUpdate">Atualizar</button>
                    <button type="submit" id="btDelete">Excluir</button>
                </div>
            </form>
            
        </div>
    </main> 
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/Scripts/quartos.js}"></script>
</body>
</html>