/*===================== GERAL ====================*/

:root{
    font-size: 62.5%; /*1rem = 10px*/
    /*font size do root agora vale 10px*/
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    
}

.hotel-name a, .hotel-name, .div-text h4{
    font-family: 'Macondo', cursive;
    font-style: italic;
}

#body{ /*id por causa do boostrap*/
    font-size: 1.6rem;
    background-color: #FFF;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

main{
    position:relative
}

/*navigation config*/
.absolute-form-box{
    position: absolute;
    
    /*padding-top: 74.5rem;*/
    padding-top: calc(35vw + 70px);
    width: 100%;
    height: 100%;
}

#nav-form{
    background-color: #DB302A;
    border-radius: .5rem;

    margin: 0 auto;
    width: fit-content;
    padding: 2rem 2.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;

    position: sticky;
    top: 2rem;
    z-index: 3;
}

#nav-form form{
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
}

#nav-form input{
    padding-inline: .7rem;
    padding-block: .2rem;
    font-size: 1.8rem;

    border: none;
    border-radius: .5rem;

    width: 100%;
}

#nav-form label{
    color: #D8F3FE;
    font-size: 1.8rem;
}

#nav-form a:first-child{
    font-size: 4rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-align: center;
    color: #D8F3FE;
}

#nav-form a:last-child{
    font-size: 2rem;
    font-weight: 700;

    background-color: #D8F3FE;
    border-radius: .5rem;

    padding-inline: .7rem;
    padding-block: .2rem;
}

/*section content config*/
.div-text h4{
    font-size: 6rem;
    color: #FFF;
    text-align: start;
    margin-bottom: 3rem;
}

.div-text{
    width: 35%;
}

.div-text p{
    font-size: 3rem;
    color: #FFF;
    text-align: start;
}

.section-content{
    width: 65%;
}

.div-text{
    padding-right: 3rem;
}

main > section{
    padding-block: 10rem;
    padding-inline: 2.5%;
}

/*=============== HEADER =======================*/

#initial-header{
    background-color: #FFE100;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 10%;
    padding-block: .5rem;
}

#initial-header-navigation ul{
    padding: 0;
    margin: 0;

    display: flex;
    gap:  2rem;
}

#initial-header-navigation a{
    font-size: 2rem;
    font-weight: 500;
}

#initial-header img{
    height: 8rem;
    width: auto;
}

#initial-header .hotel-name a {
    font-size: 4rem;
    font-weight: 700;
}



/*======================= SECTION HOME =========================*/

#section-home{
    background-color: antiquewhite;
}

#section-home video{
    width: 100%;
    display: block;
    border-radius: 1rem;
}



/*==================== SECTION QUARTOS=======================*/

#section-quartos{
    background-color: rgb(95, 179, 106);
    display: flex;
}

#carouselExample{
    width: 100%;
}

#carouselExample img{
    height: 65rem;
    object-fit: cover;
    border-radius: .5rem;
}

.visually-hidden{
    color: #D8F3FE;
}

#section-quartos .div-text{
    padding-right: 0;
    padding-left: 3rem;
}

/*==================== SECTION SERVICOS=======================*/

#section-servicos{
    background-color: rgb(95, 131, 179);

    display: flex;
}

#section-servicos .section-content{
    width: 65%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

#section-servicos .card{
    width: 32rem;
    height: 30rem;
    text-align: center;
}

#section-servicos .card img{
    object-fit: cover;
    height: 70%;
}

.card-body{
    height: 30%;
}



/*==================== SECTION LOCALIZACAO=======================*/

#section-localizacao{
    background-color: rgb(95, 179, 106);
    display: flex;
}

#section-localizacao .div-text address{
    font-size: 2.5rem;
    color: #FFF;
    text-align: start;
}

#section-localizacao iframe{
    height: 50rem;
    width: 100%;
    border-radius: .5rem;

    position: relative;
}

#section-localizacao address a {
    position: relative;
}

/*==================== Footer=======================*/

footer{
    display: flex;
    background-color: #FFE100;
    padding-block: 3rem;
}

footer div, footer ul{
    margin: 0;
    padding: 0;

    flex-grow: 1;
}

footer ul h5{
    font-size: 1.8rem;
}

footer > div figure img{
    height: 10rem;
}

footer figure{
    margin-inline: auto;
    width: fit-content;
}

footer figcaption h6{
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 0;

    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

footer div:nth-child(4){
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

footer div:nth-child(4) h5{
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

#lista-social li{
    display: inline;
}

#lista-social{
    display: flex;
    gap: 5rem;
    flex-grow: 0;
    justify-content: center;
}

#lista-social img{
    height: 3.5rem;
}