/*======================= GERAL =========================*/

:root{
    font-size: 62.5%;

    font-family: 'DM Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: antiquewhite;

    padding-top: 50vh;

    background-image: url(../assets/bg-login.jpg);
    background-position: center;
    background-size: cover;
}



/*======================= Login Box =========================*/

form{
    background-color: beige;
    border-radius: .5rem;

    text-align: center;

    width: fit-content;
    padding: 2rem 2rem 1.5rem;
    margin-inline: auto;

    transform: translateY(-50%);
}

h4{
    margin-bottom: 2.5rem;

    font-size: 2.5rem;
}

label{
    display: block;
    font-size: 1.8rem;
}

form label:nth-child(2){
    margin-bottom: 2rem;
}

input{
    border-radius: .5rem;
    border: none;

    font-size: 1.6rem;

    padding-left: .5rem;
    padding-block: .5rem;
    
}

button{
    border-radius: .5rem;
    
    margin-top: 2.5rem;
    padding: .1rem .5rem;
    font-size: 1.8rem;

    line-height: 100%;


}
