/*
Anotações:





*/


/*===================== GERAL ====================*/

:root{
    font-size: 62.5%;

    --bg-color: hsl(165, 94%, 31%);
    --txt-color: hsl(0, 0%, 100%);
    --bt-bg-color: hsl(0, 0%, 87%);
    --bt-txt-color: hsl(0, 0%, 12%);
    --shadow-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}

body{
    background-color: var(--bg-color);
}

h1, h3, figcaption{
    text-align: center;
    color: var(--txt-color);
}



/*============= TITULOS =============*/

h1{
    margin-top: 10vh;
    font-size: 5rem;
}

h3{
    margin-top: 2vh;
    font-size: 3rem;
}


/*============== LINKS ==============*/

ul{
    margin-top: 15vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

a{
    color: var(--txt-color);
    font-size: 1.8rem;
}

img{
    height: 25vh;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

figure{
    width: 20vw;
}


/*============== Logout ==============*/

#sair{
    display: block;

    text-align: center;
    font-size: 2rem;
    color: var(--bt-txt-color);

    padding-block: .5rem;
    margin: 18vh auto 0 auto;
    width: 10rem;

    background-color: var(--bt-bg-color);
    border-radius: .5rem;
}