/*Anotações:

*/


/*===========GERAL==============*/
:root{
    font-size: 62.5%;

    --bg-menu: #C4DDFF;
    --bg-openClose-menu: #0AA1DD;
    --width-comprimido: 10rem;
    --width-expandido: 27rem;
    --input-bg-color: rgb(184, 184, 184);
    --input-txt-color: rgb(0, 0, 0);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
}



/*=========================== MENU ==========================*/

/*geral menu*/
.menu{
    height: 100vh;
    
    text-align: center;
    
    background-color: var(--bg-menu);
    
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

.menu img{
    width: 8rem;
}

.menu #caixa-botao{
    background-color: var(--bg-openClose-menu);
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu button{
    background: none;
    border: none;
}

.menu button:hover{
    cursor: pointer;
}

.menu nav{
    flex-grow: 1;
}

.comprimido ul, .expandido ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 100%;
}

.menu li a {
    height: 100%;
    display:  flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/*menu comprimido*/
.comprimido{
    width: var(--width-comprimido);
}

.comprimido + main{
    padding-left: var(--width-comprimido);
}

.comprimido nav{
    margin-top: 15rem;
}

/*menu expandido*/
.expandido{
    width: var(--width-expandido);
}

.expandido + main{
    padding-left: var(--width-expandido);
}

.expandido header{
    height: 15rem;
    padding-top: 3rem;
}

.expandido h3{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.expandido h4{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}

.expandido h5{
    font-size: 1.6rem;
}

.expandido #hospedes::after{
    content: "Hóspedes";
    font-size: 2.5rem;
}

.expandido #quartos::after{
    content: "Quartos";
    font-size: 2.5rem;
}

.expandido #reservas::after{
    content: "Reservas";
    font-size: 2.5rem;
}

.expandido #voltar::after{
    content: "Voltar";
    font-size: 2.5rem;
}



/*=========================== MAIN ==========================*/
main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

main > div{
    display: flex;
    flex-direction: column;
}



/*=========================== LISTA OBJETOS ==========================*/
#lista-funcionarios{
    height: 100vh;
    overflow-y: scroll;
}
#lista-reserva{
    height: 100vh;
    overflow-y: scroll;
}
.objetos span{
    display: block;
}

.objetos span:not(.objetos span:last-child){
    margin-bottom: .3rem;
}

.objetos{
    border: 1px solid red;
    border-radius: .5rem;

    font-size: 1.8rem;

    width: 30%;
    margin: 3rem auto;

    padding: .5rem;
    position: relative;
}

.objetos:hover{
    cursor: pointer;
}

.objetos #span-id{
    font-size: 2rem;
    font-weight: bold;
    text-align: end;

    position: absolute;
    right: 1rem;
}

/*=========================== FORMULARIO PESQUISA ==========================*/
#form-pesquisa-funcionario{
    display: flex;
    justify-content: center;

    
    margin-inline: 1.5vw;
    margin-block: 3rem;
    

    background-color: var(--input-bg-color);

    border-radius: .5rem;
}

#form-pesquisa-funcionario input{
    border: none;
    outline: none;
    background-color: var(--input-bg-color);
    width: 80%;
    font-size: 1.8rem;
}
#form-pesquisa-funcionario button{
    background: none;
    border: none;
    margin-block: .5rem;
}

#form-pesquisa-funcionario button:hover{
    cursor: pointer;
}

#form-pesquisa-funcionario button img{
    height: 3rem;
}

/*=========================== FORMULARIO DE CADASTRO ==========================*/

#form-funcionario-selecionado{
    display: flex;
    flex-direction: column;

    padding-inline: 2rem;

    background-color: var(--input-bg-color);

    border-radius: .5rem;
    margin-inline: 1.5vw;
}

#form-funcionario-selecionado fieldset{
    text-align: center;

    margin-block: 1rem;

    border: none;
}

#form-funcionario-selecionado fieldset legend{
    font-weight: bold;
    font-size: 2rem;
}

#id-funcionario-selecionado{
    font-size: 3rem;
    text-align: center;
    display: inline-block;
    margin: 1rem 0;
}

#form-funcionario-selecionado input:not(input[name="admin"]){
    padding: .4rem;
    padding-left: .8rem;
    margin-block: .8rem;

    border: none;
    outline: none;

    font-size: 1.8rem;

    border-radius: .5rem;
    width: 90%;
}
#fs-admin{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#fs-admin label{
    font-size: 1.8rem;
}

/*=========================== FORMULARIO DE CADASTRO - BOTOES ==========================*/

#form-buttons{
    margin-block: 2rem;
    display: flex;
    justify-content: space-around;

} 

#form-buttons button{
    font-size: 2rem;

    padding: .2rem .4rem;

    border-radius: .5rem;
}